body {
    margin: 0;
    padding: 0;
    background-color: var(--background_color);
    font-family: var(--light_font);
    font-size: var(--tab_bar_font_size);
    line-height: var(--tab_bar_height);
    color: var(--prime_color);
    user-select: none;
}

.test {
    font-family: var(--font);
    font-size: 40px;
}
